body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEE;
  overflow: hidden;
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  width: 75vw;
  max-width: 1024px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #0091c0;
  border-radius: 30px;
}

.sky {
  height: 40vh;
  background: rgb(0,146,193);
  background: linear-gradient(180deg, rgba(0,146,193,1) 0%, rgba(60,31,8,0) 100%);
}

.floor {
  position: absolute;
  width: 3000px;
  bottom: 0;
  animation: parallax 10s linear infinite;
}

.ball {
  position: absolute;
  bottom: 120px;
  right: 5%;
  animation: ball 2s linear infinite;
  width: 100px;
}

.runner {
  position: absolute;
  bottom: 90px;
  left: 5%;
  width: 100px;
}

.jump {
  animation: jump 0.75s ease-out;
}

.clouds {
  display: none;
}

@keyframes jump {
  0% {
    bottom: 90px;
  }

  40% {
    bottom: 225px;
  }

  60% {
    bottom: 225px;
  }

  100% {
    bottom: 90px;
  }
}

@keyframes parallax {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes ball {
  from {
    right: -500px;
  }

  to {
    right: 100%;
  }
}