@font-face {
  font-family: 'dogica';
  src: url('./public/font/dogica.ttf') format('truetype')
}

* {
  font-family: dogica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEE;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  width: 80vw;
  max-width: 1024px;
  height: 100vh;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #0091c0;
  border-radius: 30px;
}

.sky {
  height: 40vh;
  background: rgb(0,146,193);
  background: linear-gradient(180deg, rgba(0,146,193,1) 0%, rgba(60,31,8,0) 100%);
}

.heart {
  width: 30px;
}

.heart-container {
  display: flex;
  gap: 5px;
  z-index: 9999;
  position: absolute;
  top: 13px;
  right: 20px;
}

.floor {
  position: absolute;
  width: 3000px;
  bottom: 0;
}

.floor-animation {
  animation: parallax 10s linear infinite;
}

.ball {
  position: absolute;
  bottom: 120px;
  right: -500px;
  z-index: 0;
}

.ball-animation {
  animation: ball linear infinite;
}

.container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.config {
  cursor: pointer;
}

.submit-button {
  position: absolute;
  bottom: 5px;
  width: 175px;
  cursor: pointer;
}

.ballon {
  position: absolute;
  bottom: 200px;
  left: 50px;
  width: 300px;
}

.runner {
  position: absolute;
  bottom: 90px;
  left: 50px;
  z-index: 1;
}

.jump {
  animation: jump 1s ease-out;
}

.jump-button {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 75px;
  z-index: 1000;
}

.form-options {
  position: absolute;
  background: url('./public/img/options.png') no-repeat;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  z-index: 9999;
  width: 352px;
  height: 352px;
  animation: options-form 0.5s ease-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 15px;
  justify-content: center;
}

.type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.values-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.type-container label {
  cursor: pointer;
  font-size: 14px;
}

.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.character-img {
  width: 60px;
}

.selected {
  color: #e5be57;
}

input[type="radio"] {
  display: none;
}

.score {
  font-size: 12px;
}

.start-button {
  width: 200px;
  top: 0;
  position: absolute;
  transform: translateX(-50%);
  animation: start-button 1s ease-out;
  left: 50%;
  cursor: pointer;
}

.clouds {
  width: 120px;
  position: absolute;
}

.clouds-container1, .clouds-container2 {
  width: 100%;
  transform: translateX(100%);
  position: absolute;
}

.clouds-animation1 {
  display: block;
  animation: clouds1 40s infinite linear;
}

.clouds-animation2 {
  display: block;
  animation: clouds2 35s infinite linear;
}

.clouds1 {
  top: 50px;
  left: 0%;
}
.clouds2 {
  top: 20px;
  left: 20%;
}
.clouds3 {
  top: 100px;
  left: 40%;
}
.clouds4 {
  top: 50px;
  left: 60%;
}
.clouds5 {
  top: 60px;
  left: 80%;
}
.clouds6 {
  top: 80px;
  left: 0%;
}
.clouds7 {
  top: 30px;
  left: 25%;
}
.clouds8 {
  top: 90px;
  left: 45%;
}
.clouds9 {
  top: 100px;
  left: 65%;
}
.clouds10 {
  top: 40px;
  left: 85%;
}

@keyframes jump {
  0% {
    bottom: 90px;
  }

  40% {
    bottom: 225px;
  }

  60% {
    bottom: 225px;
  }

  100% {
    bottom: 90px;
  }
}

@keyframes parallax {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes ball {
  from {
    right: -500px;
  }

  to {
    right: 100%;
  }
}

@keyframes clouds1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes clouds2 {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-150%);
  }
}

@keyframes start-button {
  0% {
    top: -250px;
  }

  100% {
    top: 0px;
  }
}

@keyframes options-form {
  0% {
    top: -500px;
  } 

  100% {
    top: 25%;
  }
}